@font-face { 
    font-family: 'Bracialle';
    src:url(Barcialle.ttf);
}

@font-face { 
    font-family: 'Furniture';
    src:url(Furniture.otf);
}

nav {
    background-color: #fff1f5;
    position: fixed;
    bottom: 623px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 0px;
    z-index: 2;
}

nav ul {
    list-style: none;
    padding: 0;
    position: fixed;
    right: 0px;
}

nav ul li {
    display: inline-block;
    margin-top:15px;
    margin-right: 50px;
    padding: 5px;

}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding:5px 5px;
    text-decoration: none;
}

li:hover {
    background-color: #fcd5ce;
    color: #fcd5ce;
}

.brand {
    background: #23075200;
    border: 3px solid #ceb1ff00;
    height: 100px;
    width: 600px;
    border-radius: 0px;
    text-align: center;
    position: fixed;
    margin-left: 270px;
    top: 0px;
    left: 0px;
    font-size: x-large;
    font-family: 'Furniture';
    z-index: 3;
}
    
.mb {
    background-color: #fff1f5;
    background-size: 100%;
    border: 3px solid #ceb1ff00;
    margin-top: 0px;
    height: 320px;
    width: 1330px;
    border-radius: 0px;
}

footer {
    background-color: #fff1f5;
    color: black;
    text-align: center;
    padding: 1.75em 0;
}

p {
    font-size: x-large;
}

.A a:hover{
    background-color: #fcd5ce;
}
.B a:hover{
    background-color: #fcd5ce;
}
.C a:hover{
    background-color: #fcd5ce;
}

